/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flnoti {
  color: #008000;
  margin: 33px;
}

body {
  color: #333333;
  font-size: 13px;
  font-family: verdana, arial,helvetica,sans-serif;
  background-color: #ffffff;
  line-height: 18px;
  margin: 33px;
}

h1 {
  margin: 17.42px 0px ;
  line-height: 18px;
}

h2 {
  margin: 16.185px 0px;
  line-height: 18px;
}

p, td {
  margin: 33px;
}

th {
  padding: 1px 1px 5px 1px;
}

td {
  padding: 1px 5px 7px 5px;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:visited {
  color: #666666;
}

.label_G {
  margin-bottom: 10px;
}

.book_t {
  padding: 1px 2px;
}

.book_title {
  padding: 1px 2px;
}

.book_body {
  padding: 2px;
}

.book_b {
  color: #000000;
  background-color: #ffffff;
  padding: 2px;
}

.create_bt {
  margin-bottom: 10px;
}

.error_box {
  width: 468px;
  background-color: #f0f0f0;
  border: 2px solid #ff0000;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0px;
}

.error_box h2 {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #cc0000;
  color: #ffffff;
}
  ul {
  margin: 33px;
  padding: 0px 0px 0px 40px;
}
  
  ul li {
  font-size: 12px;
  list-style: square;
}



